<br>
<div class="container">
    <%= link_to "Edit profile", edit_user_path(current_user), class: 'btn btn-primary' if @user == current_user %>
  <br><br>
  <div>
    <p><b>My profile:</b></p>
    <div class="user-info">
      <% if @user.photo.key %>
        <%= cl_image_tag @user.photo.key, height: 200, width: 300, crop: :fill %>
      <% end %>
      <br><br>
      <%= simple_form_for(@user) do |f| %>
        <fieldset disabled>
        <%= f.input :email %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :age %>
        <%= f.input :gender, collection: [ "Male", "Female", "Non-binary", "I prefer not to say" ] %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
