<div class="text-center show-card" style="background: rgba(255,255,255,0.9)">
  <div class="card-body">
    <h1 class="mb-2"><%= @trek.name %></h1>
    <p class="m-0"><%= @trek.description %></p>
    <h6 class="card-subtitle mb-2 text-muted"> $<%= trek.price %> <small class="text-muted">per person</small> </h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= trek.difficulty %> Difficulty</h6>
    <h6 class="card-subtitle mb-2 text-muted">Start at <%= trek.start_location %></h6>
    <h6 class="card-subtitle mb-2 text-muted"> <%= trek.duration_days %> days </h6>
    <div class="row d-inline">
      <%= link_to "Book now", new_trek_booking_path(trek), class: 'btn btn-primary' unless trek.user == current_user %>
      <%= link_to "Edit trek", edit_trek_path(trek), class: 'card-link' if trek.user == current_user %>
      <%= link_to "Delete trek", trek_path(trek), method: :delete, class: 'card-link', data: { confirm: "Are you sure?" } if trek.user == current_user %>
    </div>
  </div>
</div>
