<div class= "container">
<br>
  <div class="row">
    <% @treks.each do |trek| %>
      <div class="col-md-6">
        <div class="row bg-white g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><%= trek.start_location %></strong>
            <h3 class="mb-0"><%= trek.name %></h3>
            <div class="mb-1 text-muted">$<%= trek.price %></div>
            <p class="card-text mb-auto"><%= trek.description.truncate(90) %></p>

            <%= link_to "Details", trek, class: "stretched-link" %>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= cl_image_tag trek.photo.key, crop: :fill, width: 200, height: 250 %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
