<div class="home-banner">

<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1>Create a new trek</h1>
      <p>As a hiking specialist, you can record your guided route here.</p>

      <%= simple_form_for(@trek) do |f| %>
        <%= f.input :name, :label => "Mountain name" %>
        <%= f.input :description, :label => "Route description", placeholder: 'What makes your hiking trail unique? (max. 100 characters)' %>
        <%= f.input :start_location %>
        <%= f.input :difficulty, :label => "Difficulty of the trek", collection: [ "Easy", "Moderate", "Hard", "Extreme" ] %>
        <%= f.input :duration_days, placeholder: 'Number of days', as: :integer, input_html: { min: '0', max: '7' }  %>
        <%= f.input :price, placeholder: 'Total costs of the trip in $', as: :integer, input_html: { min: '0', max: '2000' } %>
        <%= f.submit class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>
