<div class="banner" style="background-image: url('https://source.unsplash.com/random/featured/?nature')">
  <div class="container">
    <h1><%= @trek.name %></h1>
    <p><%= @trek.description %></p>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4">
      <p>Start location: <%= @trek.start_location %></p>
      <p>Difficulty: <%= @trek.difficulty %></p>
      <p>Duration days: <%= @trek.duration_days %></p>
      <p>Price: <%= @trek.price %> $</p>
    </div>
    <div>
      <%= link_to "Book now", new_trek_booking_path(@trek), class: 'btn btn-primary' unless @trek.user == current_user %>
    </div>
    <br><br>
    <div>
      <%= link_to "Edit trek", edit_trek_path(@trek), class: 'btn btn-primary' if @trek.user == current_user %>
    </div>
    <br><br>
    <div>
      <%= link_to "Go back to overview", treks_path%>
    </div>
  </div>
</div>
