<div class= "container">
<br>
<h1>My treks</h1>
<br>
<h2>As a guest</h2><br>
  <div class="row">
    <% if @dashboard.client_bookings.any? %>
      <% @dashboard.client_bookings.each do |booking| %>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
              <%= cl_image_tag booking.trek.photo.key, crop: :fill, width: 150, height: 250 %>
            </div>
            <div class="col bg-white-semi-transparent p-4 d-flex flex-column position-static">
              <h3 class="mb-0"><%= booking.trek.name %></h3>
              <div class="mb-1 text-muted">Booking date: <%= booking.start_on %></div>
              <div class="mb-1 text-muted">Start at: <%= booking.trek.start_location %></div>
              <%= link_to "See details", booking_path(booking) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p style="height: 200px" class="d-flex align-items-center">No</p>
    <% end %>
  </div>
<h2>As a host</h2><br>
  <div class="row">
    <% if @dashboard.host_bookings.any? %>
      <% @dashboard.host_bookings.each do |booking| %>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
              <%= cl_image_tag booking.trek.photo.key, crop: :fill, width: 150, height: 250 %>
            </div>
            <div class="col bg-white-semi-transparent p-4 d-flex flex-column position-static">
              <h3 class="mb-0"><%= booking.trek.name %></h3>
              <div class="mb-1 text-muted">Number of People: <%= booking.num_trekkers %></div>
              <div class="mb-1 text-muted">Date: <%= booking.start_on %></div>
              <%= link_to "See details", booking_path(booking) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p style="height: 200px" class="d-flex align-items-center"></p>
    <% end %>
  </div>
  <h1>My listings</h1><br>
  <div class="row">
    <% if @dashboard.host_treks.any? %>
      <% @dashboard.host_treks.each do |trek| %>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
              <%= cl_image_tag booking.trek.photo.key, crop: :fill, width: 150, height: 250 %>
            </div>
            <div class="col bg-white-semi-transparent p-4 d-flex flex-column position-static">
              <h3 class="mb-0"><%= trek.name %></h3>
              <div class="mb-1 text-muted">Duration days: <%= trek.duration_days %></div>
              <div class="mb-1 text-muted">Price: $<%= trek.price %></div>
              <%= link_to "See details", trek_path(trek) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p style="height: 200px" class="d-flex align-items-center"></p>
    <% end %>
  </div>
</div>
